APP_NAME=Stock Watcher
APP_HOST=localhost
APP_PORT=8080
# Using IANA Timezone
APP_TZ=Asia/Jakarta 

DB_USER=root
DB_PASSWORD=example
DB_HOST=stock_watcher_mongo
DB_PORT=27017
DB_DATABASE=stock_watcher
DB_AUTH_SOURCE=admin

LOG_PATH=./storage/logs