HOST=0.0.0.0
PORT=8080
APP_NAME=Stock Watcher
# Using IANA Timezone
APP_TZ=Asia/Jakarta 

# Provide complete uri including database name
MONGODB_URI=mongodb://root:example@stock_watcher_mongo:27017/stock_watcher?authSource=admin
MONGODB_DATABASE=stock_watcher

LOG_PATH=./storage/logs